{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <p>
        Editer par : <br>
        Nicolas BOSTJANCIC <br>
        nicolas.bostjancic@gmail.com <br>
        06.85.42.62.58 <br>
    </p>


{% endblock %}