legend{
    color: #F5871F;
}

.form-group{
    color: #F5871F;
}

#btn_valid{
    color: white;
    background-color: #F5871F;
    border-color: black;
    font-weight: bold;
    font-size: large;
    float: right;
}

#btn_valid:hover{
    color: #916319;
}